.title_gallery h1{
    
    text-align: left;
    font-family: 'Kaushan Script', cursive;
    font-size: 91px;color: rgb(192,225,227);
    border-color: rgb(150,150,150);
    padding: 50px 0 0 86px;
}



.title_gallery p{
    text-align: left;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 400;
    font-size: 35px;
    margin: -51px 0px 50px 128px;
    padding: 5px;
    color: rgb(2,49,95);
    border-color: #304A67;
}

.bar_design{
    width: 90%;
    height: 1px;
    background-color: #304A67;
    margin: auto;
    margin-top: 50px;
}

h2{
    font-family: 'Josefin Sans', sans-serif !important; 
    font-weight: 400;
    font-size: 26px !important;
    padding: 50px 0 0 94px;
    color: rgb(2,49,95);
}

.container {
    width: 100% !important;
   max-width: 98% !important;

  }

  
  .carousel {
    
    height: 700px;
    overflow: hidden;
    position: relative;
    
    background: #fff;
    
  }
  .slider {
    display: flex;
    height: 100%;
    width: 400%;
  }
  .slider section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }
  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow i {
    font-size: 50px;
    -webkit-user-select: none;
    color: #EF546C;
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
  .control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
  }
  .control ul li {
    width: 10px;
    height: 10px;
    background: rgb(48,74,103);
    border: 2px solid rgb(48,74,103);
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
  }
  .control ul li.selected {
    background: transparent;
  }



  .gallery-section{
    width: 100%;
    padding: 60px 0;
    
  }
  
  .inner-width{
    width: 100%;
    max-width: 100%;
    margin: auto;
    
  }
  
 
  
  .image{
      padding: 10px;
      max-width: 370px ;
      max-height: 277.5px;
      
  }

  .imagechange{
      height: 365px !important;
  }
  
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
  }


  .swiper-container {
    width: 100%;
    height: 100%;
    display: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 384px;
  }

  .img3lien{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0;
  }

  .swiper-pagination{
    opacity: 0;
  }

  .sub_title{
    font-size: 91px;
  }

  


  @media (max-width: 1000px){
        
    .image{
        padding: 5px !important;
        width: 340px ;
        height: auto;
        
    }


  }

  @media (max-width: 845px){
        
    .image{
        padding: 5px !important;
        width: 340px ;
        height: auto;
        
    }


  }

  @media (max-width: 508px){
        
   .title_gallery h1{
     text-align: center;
     width: 100%;
     padding-left: 0 !important;
   }

   .title_gallery p{
    text-align: center;
    width: 100%;
    padding-left: 0 !important;
    margin-left: 0 !important;
    
  }
  h2{
    text-align: center;
    padding-left: 0 !important;
  }


  }

  @media (max-width: 784px){
        
    .swiper-container {
      width: 100%;
      height: 100%;
      display: block;
    }

    .content{
      display: none;
    }
  


  }

  @media (max-width: 410px){
        
    .title_gallery h1{
      font-size: 70px;
    }

    .sub_title{
      font-size: 55px;
    }
  


  }