@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

input::placeholder, textarea::placeholder{
    opacity: 0.5 !important;
    
}

.bando{
    width: 100%;
    height: 250px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    
}

.modal {
    
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px; */
  
  width: 80%;
  height: 75%;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.modal-content p{
    padding: 0 20px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.block_btn{
    padding-bottom: 60px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}



.btn_cancel{
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 50px;
    border: solid 1px #24344B ;
    cursor: pointer;
    font-size: 15px !important;
    font-family: 'Josefin Sans', sans-serif;
    
}

.dot.active{
    background-color: #304a67;
}

*{
    list-style: none !important;
}

footer ul li{
    text-align: left;
}

@media (max-width: 575px) {

body{
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}
}
.centerblock{
    padding-left: 26px !important;
}


.Slideblock {display:none;}

@media (max-width: 1488px) {
    #petanque{
        margin: 0  !important;
    }

}

@media (max-width: 782px) {
    footer ul li{
        text-align: center;
    }
    #myFooter{
        padding-top: 0;
    }

}

@media (max-width: 615px) {
    .contactheader{
        display: none;
    }

}


/* Index Page */

@media (max-width: 992px) {
.appartement-liste{
    display: none;
}
footer{
    position: inherit !important;
}
}
@media (min-width: 992px ) {
    .slideshow-appartements{
        display: none;
    }
    .etape-slide{
        display: none;
    }
}
@media (max-width: 450px) {

.date-appart{
    left: 25% !important;

}
}
@media (max-width: 600px) and (min-width: 451px) {

    .date-appart{
        left: 30% !important;
    
    }
}
/* Appartements Page */

@media (max-width: 575px) {
.description-appart-desktop{
    display: none;
}
.reserver-desktop{
    display: none;
}
.services-dispo-desktop{
    display: none;
}
.equipements-desktop{
    display: none;
}
.piece-desktop{
    display: none;
}
.rounded-circle{
    width: 35% !important;
}
.appart-slide-desktop{
    display: none;
}


}

@media (min-width: 576px) {
    .description-appart-mobile{
        display: none;
    }
    .reserver-mobile{
        display: none;
    }
    .services-dispo-mobile{
        display: none;
    }
    .equipements-mobile{
        display: none;
    }
    .piece-mobile{
        display: none;
    }
    .envelope-header{
        display: none;
    }
    .appart-slide-mobile{
        display: none;
    }
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item-piece {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}
/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item-piece {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }

    .carousel-item-piece {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .carousel-item-piece {
        flex-basis: 450px;
    }
}

@media screen and (min-width: 1600px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.25rem;
    }
}

